
bower.json
*.bowerrc
/.bundle
.byebug_history
capybara-*.html
config/initializers/secret_token.rb
/config/master.key
config/master.key
/coverage/
/db/*.sqlite3
/db/*.sqlite3-[0-9]*
/db/*.sqlite3-journal
.env
.env.*
/.env
/log
/log/*
!/log/.keep
/node_modules
node_modules/
*.orig
.overmind.sock
pickle-email-*.html
.powenv
/public/assets
/public/packs
/public/packs-test
/public/system
/public/uploads
*.rbc
rerun.txt
.rspec
.rvmrc
/spec/tmp
/storage/*
!/storage/.keep
/tmp
/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
/vendor/assets/bower_components
/vendor/bundle
/.vscode
yarn-debug.log*
/yarn-error.log
.yarn-integrity

/config/credentials/development.key
/development-assets
/scratch
